<header id="header" class="container">
    <h1 class="logoBox"><a href="/"><span class="logo">그린훼스코</span></a>&nbsp;&nbsp;&nbsp;태양광 발전</h1>
    <nav class="menuBox">
        <ul class="menuUl">
            <li class="active" data-obj='{"UpToMinutes":0, "isTimeLimit":false, "file":"/assets/2023KTC측정값.xlsx","divNum" : 20}'>2023</li>
            <li class="" data-obj='{"UpToMinutes":0, "isTimeLimit":false, "file":"/assets/sh0003.xlsx","divNum" : 10}'>2024_02_01(음영)</li>
            <li class="" data-obj='{"UpToMinutes":6, "isTimeLimit":true, "file":"/assets/sh0002.xlsx","divNum" : 10}'>2024_02_02(정상)</li>
        </ul>
    </nav>

    <div class="clockBox">
        <div id="currtDate"></div><!--날짜-->
        <strong><div id="currtTime"></div></strong><!--시각-->
    </div>
</header>
